body{
  position:absolute;
  top:0px;
  background-image:url(https://teddytest1.github.io/img1/%E8%83%8C%E6%99%AF.png);
}
body::-webkit-scrollbar {
    display: none;
}
.button{
  display: inline-block;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:#d69478;
  color:#411d1d;
  font-family:王漢宗特黑體;
  font-weight:bold;
  font-size:35px;
  
}
.button:hover{
  background-color: #411d1d;
  color:white;
  cursor:url('https://teddytest1.github.io/img1/0001.png'),auto;
}
.nav_ul{
  background-color:#d69478;
  
}
.content{
  max-width:100%;
  margin-top:0px;
}
.g1{
  
 width: 1700px;
height: 50px;
background: #a6b3a7;
}
li::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: 26px solid;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
<style type="text/css">
#P1{
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}
#P2{
    position:absolute;
    top:230px;
    left:0px;
    z-index:0;
}
#P3{
    position:absolute;
    top:580px;
    left:980px;
    z-index:1;
}
.font1{
  font-size:20px;
  font-family:Montserrat;
  font-weight:bold
}
.font2{
  font-size:100px;
  font-family:圓體;
  
}
.font3{
  font-size:35px;
  font-family:Montserra;
  font-weight:bold
}

</style>
