body{position:absolute;top:0px;
}
body::-webkit-scrollbar {
    display: none;
}
.button{
  display: inline-block;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:#d69478;
  color:#411d1d;
  font-family:微軟正黑體;
  font-weight:bold;
  font-size:35px;
  
}
.button:hover{
  background-color: #411d1d;
  color:white;
}
.nav_ul{
  background-color:#d69478;
  
}
.content{
  max-width:100%;
  margin-top:0px;
}
.g1{
  
 width: 100%;
height: 50px;
background: #a6b3a7;
}
li::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: 26px solid;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
<style type="text/css">
#P1{
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}
#P2{
    position:absolute;
    top:353px;
    left:0px;
    z-index:0;
}
#P3{
    position:absolute;
    top:580px;
    left:820px;
    z-index:1;
}
.font1{
  font-size:20px;
  font-family:標楷體;
}
.font2{
  font-size:100px;
  font-family:標楷體;
}
.font3{
  font-size:35px;
  font-family:標楷體;
}

</style>